[submodule "ggml"]
	path = ggml
	url = https://github.com/ggml-org/ggml
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
